.note {
    font-size: 28px;
    font-family: 'Creepster', cursive;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    color: darkblue;
    background-color: skyblue;
}

.heading {
    font-size : 35px;
    font-family : 'Shadows Into Light', cursive;
    width: 100%;
    margin-top: 10px;
    box-shadow: 5px 5px 5px grey;
}

.copy_right_footer {
    position : fixed;
    color : white;
    bottom : 0;
    width : 100%;
    background-color : grey;
    line-height : 3;
    text-align : center;
    margin-bottom : 20px;
}

canvas {
    border : 5px solid azure;
    border-radius : 20px;
    box-shadow : 5px 5px 5px grey;
}